.bloc-about {
  max-width: 1440px;
  width: 85%;
  margin: auto;
  padding-bottom: 200px;
}

.body-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

@media (max-width: 600px) {
  .bloc-about {
    width: 90%;
  }
}
