.container-apartment {
  margin-bottom: 10px;
}

.bloc-apartment {
  max-width: 1152px;
  width: 80%;
  margin: auto;
}

.bloc-presentation {
  display: flex;
  justify-content: space-between;
}

.bloc-text {
  max-width: 70%;
}

.bloc-user {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bloc-collapse {
  display: flex;
  gap: 70px;
}

.bloc-apartment .container-collapse h2 {
  font-size: 18px;
}

@media (max-width: 600px) {
  .bloc-apartment {
    width: 90%;
  }

  .bloc-apartment .container-collapse h2 {
    font-size: 13px;
  }

  .bloc-collapse {
    display: block;
  }

  .bloc-presentation {
    display: block;
  }

  .bloc-text {
    max-width: 100%;
  }

  .bloc-user {
    margin-top: 10px;
    max-width: 100%;
    flex-direction: row;
    align-items: center;
  }

  .bloc-stars {
    order: 1;
  }

  .bloc-host {
    order: 2;
  }
}
