.container-collapse {
  margin-top: 30px;
  width: 75%;
  height: 100%;
  max-width: 1023px;
  background-color: #f7f7f7;
  border-radius: 5px;
}

.container-title {
  border: none;
  border-radius: 5px;
  background-color: #ff6060;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 30px 7px 15px;
  width: 100%;
  margin: 0px;
  cursor: pointer;
}

.container-collapse h2 {
  color: white;
  font-size: 24px;
  font-weight: 500;
}

.bloc-paragraph {
  padding: 25px 10px 10px;
  color: #ff6060;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}

@media (max-width: 600px) {
  .container-collapse {
    margin-top: 20px;
    width: 100%;
  }

  .bloc-paragraph {
    padding: 15px 10px 50px 10px;
    font-size: 12px;
    line-height: 17px;
  }

  .container-collapse h2 {
    font-size: 13px;
  }

  .container-title {
    padding: 7px 5px 7px 15px;
  }

  .container-title img {
    width: 16px;
    height: 9px;
  }
}
