footer {
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 70px 0px 30px;
  font-size: 24px;
  font-weight: 500;
}

footer span {
  padding-top: 40px;
}

@media (max-width: 600px) {
  footer {
    padding: 70px 0px;
    font-size: 12px;
  }

  footer span {
    padding-top: 30px;
  }
}
