.bloc-host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  font-weight: 500;
  color: #ff6060;
  font-size: 18px;
}

.bloc-host img {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  cursor: pointer;
}

.bloc-name p,
.bloc-name span {
  text-align: end;
  cursor: pointer;
}

@media (max-width: 600px) {
  .bloc-host img {
    width: 32px;
    height: 32px;
  }

  .bloc-host {
    font-size: 12px;
  }
}
