.bloc-stars {
  white-space: nowrap;
}

.bloc-stars img {
  height: 24px;
  width: 24.75px;
  margin-left: 15px;
}

@media (max-width: 600px) {
  .bloc-stars img {
    height: 13px;
    width: 13.41px;
    margin-left: 5px;
  }
}
