.bloc-tags {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  width: auto;
  height: auto;
  padding: 5px 40px;
  background-color: #ff6060;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

@media (max-width: 600px) {
  .bloc-tags {
    margin-top: 10px;
  }

  .tag {
    font-size: 10px;
  }
}
